<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Courses</h1>
    </div>
    <form  id="courseForm" th:action="@{/displayLoForCourse}" th:object="${course}" method="POST">

        <select th:field="*{id}">
            <option th:each="course : ${courses}"
                    th:value="${course.id}" th:text="${course.name}">
            </option>
        </select>

        <input id="submit" type="submit" value="Submit"/>
    </form>
    <br/>
</div>
</body>

</html>