<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Programs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Categories</h1>
    </div>
    <form th:action="@{/listLearningOutcomesByCategory}" th:object="${category}" method='GET'>

                <p>Pick Category to filter Learning Outcomes:
                    <select th:field="*{id}">
                        <option th:each="cat : ${categories}"
                                th:value="${cat.id}"
                                th:utext="${cat.name}"/>
                    </select>
                    <input name="submit" type="submit" />
                </p>
    </form>
    <hr/>
    <a href="/listCategories">List All Categories</a><br/>
    <a href="/">Home</a>
</div>
</body>

</html>