<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Programs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Programs</h1>
    </div>
    <form  id="programForm" th:action="@{/displayCourseForProgram}" th:object="${programAndYear}" method="POST">

        <select th:field="*{program}">
            <option th:each="program : ${programs}"
                    th:value="${program.id}" th:text="${program.name}">
            </option>
        </select>

        <select th:field="*{year}">
            <option th:each="year : ${years}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select>
        <input id="submit" type="submit" value="Show Courses For this Program"/>
    </form>
    <br/>

    <form  id="programForm2" th:action="@{/displayLearningOutcomesForProgram}" th:object="${programAndYear}" method="POST">

        <select th:field="*{program}">
            <option th:each="program : ${programs}"
                    th:value="${program.id}" th:text="${program.name}">
            </option>
        </select>

        <select th:field="*{year}">
            <option th:each="year : ${years}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select>
        <input id="submit2" type="submit" value="Show Learning Outcomes For this Program"/>
    </form>

    <br/>
</div>
</body>

</html>